@charset "utf-8";
/* CSS Document */

@keyframes fade_animation {
	0% {opacity: 0%}
	100% {opacity: 100%}
}

@keyframes typing {
	0% {width: 0}
	100% {width: var(--intro-text-vw-length)}
}

@keyframes blink-caret {
	0% {border-right-color: transparent}
	50% {border-right-color: white}
	100% {border-right-color: transparent}
}

@keyframes fly-animation {
	0% {position: relative;
	    right: 20vw;}
	100% {position: relative;
	      right: 0vw;}
}


:root {
	--intro-text-length: 43; /* Text is the string "Welcome to Centennial Chess Club's website!" which has 43 chars*/
	--intro-text-vw-length: 80vw;
	--default-rounding: calc(0.75 * 1vw + 0.25 * 25px);
    --main-rounding: 2.5vw;
	--drop-shadow-distance: 0.3vw;

	--font-size-header-item: calc(36px * 0.25 + 1.5vw * 0.75);
	--font-size-title: calc((3vw + 40px)/2);
	--font-size-parargaph: calc((2vw + 25px)/2);
}



/* THIS OVERRIDES ANYTHING NOT SET TO A SPECIFIC ELEMENT - HIGHER SPECIFICITY */
* {
	font-family: "Trebuchet MS";
	color:white;
}

body {
	background-color: #242527;
	background-image: url(IMG_4121.JPEG);
	background-size: cover;
}

a {
	text-decoration: none;
	color:orange;
}

a:hover {
	color:lightgray;
}


.on_background {
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 98vh;
	border-radius: var(--main-rounding);
	padding: calc(var(--main-rounding) - var(--default-rounding));
}

.content {
	padding-left: var(--default-rounding);
}


.emphasize {
	color: orange;
}

.content_table {
	column-width: 50%;
	width: 100%;
	table-layout: fixed;
	color:aqua;
	border-spacing: 10px;
}

/* Note this width is relative to td element - not entire page */
.content_table tr td img {
	width: 100%;
	border-radius: var(--default-rounding);
	
	transition: box-shadow 0.2s linear;

	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 165, 0, 0.05);
}

.content_table tr td img:hover {
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 165, 0, 0.2);
}

.content_table tr td p {
	font-size: var(--font-size-parargaph);
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: var(--default-rounding);
	
	transition: box-shadow 0.2s linear;

	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 255, 255, 0.05);
}

.content_table tr td p:hover {
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 255, 255, 0.2);
}

.typing_animation {
	padding-top: 2vw;
	padding-bottom: 1vw;
	font-family: courier ; /*monospace;*/
	display: inline-flex;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 0; /*auto;*/
	letter-spacing: 0.15em;
    animation: typing 2s steps(var(--intro-text-length), end) forwards,
			   blink-caret 1s step-end infinite;
	
	text-align: left;
	font-size: calc(var(--intro-text-vw-length) * 1.33 / var(--intro-text-length));/*calc(90vw * 1.4 / var(--intro-text-length));*/
	color: orange;
	border-right: .15em solid white;
}

.fade_1 {
	opacity: 0%;
	animation: fade_animation 2s forwards,
		       fly-animation 1s forwards;
	color: orange;
	font-size: var(--font-size-title);
	position: relative;
	margin-top: 2vw;
}

.fade_2 {
	opacity: 0%;
	animation-name: fade_animation;
	animation-duration: 1s;
	animation-delay: 500ms;
	animation-fill-mode: forwards;
}

.fade_3 {
	opacity: 0%;
	animation-name: fade_animation;
	animation-duration: 1s;
	animation-delay: 1500ms;
	animation-fill-mode: forwards;
}


.website_header {
	border-spacing: 0px;
	padding: 10px;
	border-radius: var(--default-rounding);
	max-height: 80px;
	background-image: url("https://bpb-ca-c1.wpmucdn.com/mycentennial.sd43.bc.ca/dist/f/2812/files/2023/01/dots-6297146_1920.jpg");
	/*display: block;*/
	display:flex;
	transition: box-shadow 0.2s linear;
	align-items: center;
}

.website_header:hover {
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0 0 rgba(127, 159, 255, 0.2);
}


.logo:hover {
	box-shadow: 2px 2px 1px 0px orange;
}

.website_header_item {
	white-space: nowrap;
	padding: calc(var(--default-rounding)/4);
	background-color: none;
    color:white;
	font-size: var(--font-size-header-item);
	max-height: fit-content;
	border-radius: calc(var(--default-rounding) / 2);

	max-width: 20vw;

	display:inline-block;
	overflow:hidden;
}

.website_header_item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.website_header_blankspace {
    width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.logo {
	width: 20px;
	justify-content: center;
	transition: box-shadow 0.2s linear;
}

.logo_container {
	display: block;
	justify-content: center;
	padding-left: calc(var(--default-rounding) * 0.8);
	padding-right: calc(var(--default-rounding) * 0.8);
}

.hover_link {
	text-decoration: none;
	color:rgb(200, 250, 255);
	display:block;
}

.hover_link:hover {
	color: white;
}


.dropdown {
	position: relative;
	text-decoration: none;
	color: rgb(200, 250, 255);
	display: inline-block;
	overflow: visible;
}

.dropdown:hover {
	color: white;
}

.dropdown:hover .dropdown-content {
	display:block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	min-width: 160px;
	padding: 5px 5px;
	z-index: 1;
	border-radius: calc(var(--default-rounding) / 2);

	transition: background-color 0.2s linear;
}

.dropdown-content:hover {
	background-color: rgba(64, 64, 64, 0.8);
}


