@charset "utf-8";
/* CSS Document */

@keyframes fade_animation {
	0%   {opacity: 0%;
		  filter: blur(calc(var(--font-size-parargaph)));}
	100% {opacity: 100%;
	      filter: blur(0px);}
}

@keyframes typing {
	0%   {width: 0;}
	100% {width: var(--intro-text-vw-length);}
}

@keyframes blink-caret {
	0%   {border-right-color: transparent;}
	50%  {border-right-color: var(--default-text-colour);}
	100% {border-right-color: transparent;}
}

@keyframes fly-animation {
	0%   {position: relative;
	      right:    20vw;}
	100% {position: relative;
	      right:    0vw;}
}

@keyframes drop-down-expand-animation {
	0%   {display: flex;
		  opacity: 0%;
		  height:  0;
		  /* width:   0;*/}
	100% {display: flex;
		  opacity: 100%;
		  height:  auto;
		  /* width:   auto;*/}
}

@keyframes image-expand-shrink-animation {
	0% {opacity: 0%; height: 0;} /*order: 50; border-color: red;}*/
	8.33% {opacity: 100%; height: auto;} /*order: 50; border-color: red;}*/

	33.33% {opacity: 100%; height: auto;} /*order: 0; border-color: green;}*/
	41.67% {opacity: 0%; height: 0;} /*order: 0; border-color: green;}*/


	100% {opacity: 0%; height: 0;} /*order: 50; border-color: red;}*/
	/* in 1s, stay 3s, out 1s for each; in/out transitions overlap so effective time is halved; 12s total */
}

@keyframes image-expand-shrink-first-animation {
	0% {opacity: 100%; height: auto;} /*order: 50; border-color: red;}*/

	25% {opacity: 100%; height: auto;} /*order: 0; border-color: green;}*/
	33.33% {opacity: 0%; height: 0;} /*order: 0; border-color: green;}*/


	91.67% {opacity: 0%; height: 0;} /*order: 50; border-color: red;}*/
	100% {opacity: 100%; height: auto;} /*order: 50; border-color: red;}*/
	/* in 1s, stay 3s, out 1s for each; in/out transitions overlap so effective time is halved; 12s total */
}





:root {
	interpolate-size: allow-keywords;

	--click-radius: calc(var(--header-rounding) - var(--header-item-rounding)); /* Reduces ability to click things */
	--pointer-error: 5vh; /* Increases ability to hover over things */

	--intro-text-length: 43; /* Text is the string "Welcome to Centennial Chess Club's website!" which has 43 chars*/
	--intro-text-vw-length: 80vw;
	--default-rounding: calc(0.75 * 1vw + 0.25 * 25px);
    --main-rounding: calc(var(--default-rounding) * 2.5);
	--header-rounding: calc(var(--default-rounding) * 1.5);
	--header-item-rounding: calc(var(--default-rounding) * 0.5);
	--header-subitem-rounding: calc(var(--default-rounding) * 0.25);
	--drop-shadow-distance: calc((0.3vw + 4px) / 2);
	--outer-spacing: calc(var(--default-rounding) * 0.5);

	--font-size-header-item: calc(36px * 0.1 + 1.8vw * 0.9);
	--font-size-title: calc(3vw * 0.75 + 40px * 0.25);
	--font-size-parargaph: calc(2vw * 0.75 + 25px * 0.25);

	--background-colour: rgb(0, 8, 16);
	--background-colour-a: 90%;
	--mini-background-colour: rgb(0, 0, 0);
	--mini-background-colour-a: 20%;
	--dropdown-content-bg-colour: rgba(0, 0, 0, 0.3);
	--dropdown-content-bg-hover-colour: rgba(64, 64, 64, 0.3);

	--default-text-colour: rgb(255, 255, 255);
	--top-link-colour: rgb(200, 250, 255);
	--top-dropdown-colour: rgb(250, 250, 200);
	--top-link-hover-colour: white;
	--highlight-text-colour: orange;
	--link-hover-colour: lightgray;
	--secondary-highlight-text-colour: lightblue;

	--long-transition-time:   1s;
	--medium-transition-time: 0.5s;
	--short-transition-time:  0.2s;
	--quick-transition-time:  0.1s;
}


@media (prefers-color-scheme: light) {
	:root {
		--background-colour: rgb(255, 255, 255);
		--background-colour-a: 50%;
		--mini-background-colour: lightblue;
		--mini-background-colour-a: 30%;
		--dropdown-content-bg-colour: rgba(255, 255, 255, 0.5);
		--dropdown-content-bg-hover-colour: rgba(191, 191, 191, 0.5);

		--default-text-colour: rgb(0, 0, 0);
		--top-link-colour: black;
		--top-dropdown-colour: navy;
		--top-link-hover-colour: slategray;
		--highlight-text-colour: darkgreen;
		--link-hover-colour: slategray;
		--secondary-highlight-text-colour: navy;
	}
}

@media (hover:none) {
	:root {
		--click-radius: 20px;
		--pointer-error: 0;
	}
}



/* THIS OVERRIDES ANYTHING NOT SET TO A SPECIFIC ELEMENT - HIGHER SPECIFICITY */
* {
	font-family: "Trebuchet MS";
	color:var(--default-text-colour);
}

body {
	background-image: url(IMG_4121.JPEG);
	background-size: cover;
	border-radius: var(--main-rounding);
}


a {
	color:var(--highlight-text-colour);
	transition: color var(--short-transition-time);
}

a:hover {
	color: var(--link-hover-colour);
	text-decoration: none;
}

.on_background {
	background-color: color-mix(var(--background-colour) var(--background-colour-a), black 0%);
	min-height: 98vh;
	border-radius: var(--main-rounding);
	padding: calc(var(--main-rounding) - var(--header-rounding));
	box-shadow: 0px 0px 0px 50px rgba(0,0,0,0.5);

	transition: background-color 1s linear;

}

.content {
	padding-left: var(--default-rounding);
	margin-top: calc(1cqh + 2*var(--header-rounding) + var(--main-rounding));
}


.emphasize {
	color: var(--highlight-text-colour);
}

.content_table {
	column-width: 50%;
	width: calc(100% - var(--default-rounding));
	table-layout: fixed;
	border-spacing: var(--default-rounding);
}

.inside_table {
	background-color: color-mix(var(--mini-background-colour) var(--mini-background-colour-a), black 0%);
	border-radius: var(--default-rounding);
	width: 100%;
}

.content_table tr td > p, .content_table tr td > .button_link, .photo_gallery {
	font-size: var(--font-size-parargaph);
	padding: var(--default-rounding);
	background-color: color-mix(var(--mini-background-colour) var(--mini-background-colour-a), black 0%);
	border-radius: var(--default-rounding);

	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 255, 255, 0.05);
	transition: box-shadow var(--short-transition-time) linear,
				background-color var(--short-transition-time) linear;
}

.content_table tr td > p:hover, .content_table tr td > .button_link:hover {
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 255, 255, 0.2);
	background-color: color-mix(var(--mini-background-colour) calc(var(--mini-background-colour-a) * 2), black 0%);
}




.content_table tr td img {
	width: 100%;
	border-radius: var(--default-rounding);
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 255, 255, 0.05);


	transition: box-shadow var(--short-transition-time) linear;	
}

.content_table tr td img:hover {
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px rgba(255, 165, 0, 0.2);
}

.content_table tr td .button_link, .photo_gallery .text_container .button_link {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;

	text-decoration: none;
	color: var(--secondary-highlight-text-colour);
	background-color: color-mix(var(--highlight-text-colour) var(--mini-background-colour-a), black 0%);

	transition: background-color var(--short-transition-time) linear;
}

.photo_gallery .text_container p {
	padding: var(--default-rounding);
	margin: 0;
}

.photo_gallery .text_container .button_link {
	border-radius: 0 0 var(--default-rounding) var(--default-rounding);
	padding: var(--default-rounding);
	margin-top: 0;
	margin-bottom: 0;
}

.content_table tr td .button_link:hover, .photo_gallery .text_container .button_link:hover {
	background-color: color-mix(var(--highlight-text-colour) calc(var(--mini-background-colour-a) / 2), black 0%);
}

.inside_table tr td p {
	margin: 0;
}

.inside_table tr td .button_link:active {
	box-shadow: none;
	margin-top: calc(1em + var(--drop-shadow-distance));
	margin-bottom: calc(0px - var(--drop-shadow-distance));
	margin-left: var(--drop-shadow-distance);
}

.inside_table tr td .button_link:nth-last-child(1):active {
	margin-bottom: calc(1em - var(--drop-shadow-distance));
}

.typing_animation_container {
	margin-top: var(--main-rounding);
	/* border:1px solid white; */
	width: fit-content;
}

.typing_animation_box {

	border: 1px solid var(--highlight-text-colour);
	border-radius: var(--default-rounding);
	padding:var(--default-rounding);
	/*box-shadow: calc(0px - var(--drop-shadow-distance)) 0 0px 0px orange;*/
	width: fit-content;
	height: calc(var(--intro-text-vw-length) * 1.33 / var(--intro-text-length));

	transition: border var(--short-transition-time) linear,
				opacity var(--short-transition-time) linear;
}

.typing_animation_box:hover {
	border: 1px solid color-mix(in srgb, var(--default-text-colour) 50%, transparent);
	background-image: url(geometric_dark.jpg);
	opacity: 80%;
}

.typing_animation {
	font-family: courier; /*courier;*/ /*monospace;*/
	display: inline-block;/*inline-flex;*/
	overflow: hidden;
	white-space: nowrap;
	margin: 0 0; /*auto;*/
	font-weight: bold;

	letter-spacing: 0.15em;
    animation: typing 1s steps(var(--intro-text-length), end) forwards,
			   blink-caret 1s step-end infinite;
	

	vertical-align: top;
	height: calc(var(--intro-text-vw-length) * 1.33 / var(--intro-text-length));
	
	font-size: calc(var(--intro-text-vw-length) * 1.33 / var(--intro-text-length));/*calc(90vw * 1.4 / var(--intro-text-length));*/
	color: var(--highlight-text-colour);
	border-right: .15em solid var(--default-text-colour);

	opacity: 100%;
}

.fade_1 {
	opacity: 0%;
	animation: fade_animation 2s forwards,
		       fly-animation 1s forwards;
	color: var(--highlight-text-colour);
	font-size: var(--font-size-title);
	position: relative;
	margin-top: 2vw;
}

.fade_1::after {
	content: "";
	line-height: 0;
	display:block;
	border-bottom: var(--header-item-rounding) solid var(--highlight-text-colour);
	width: 0%;
	opacity: 0%;
	transition: width var(--short-transition-time) linear,
				opacity var(--short-transition-time) linear;
}

.fade_1:hover::after {
	width: 10%;
	opacity: 100%;
}

.fade_2 {
	opacity: 0%;
	animation-name: fade_animation;
	animation-duration: 1s;
	animation-delay: 500ms;
	animation-fill-mode: forwards;
}
.fade_3 {
	opacity: 0%;
	animation-name: fade_animation;
	animation-duration: 1s;
	animation-delay: 1500ms;
	animation-fill-mode: forwards;
}

.website_header {
	padding: calc(var(--header-rounding) - var(--header-item-rounding));
	border-radius: var(--header-rounding);
	width: calc(100vw - 2*var(--main-rounding) - 2*var(--outer-spacing) - 2px - 10px); /*100vw-2px, then make change, 6.5vw or 104px at regular size*/
	height: calc(1cqh + var(--header-rounding) - var(--header-item-rounding));
	

	display:flex;

	align-items: center;

	column-gap: calc(var(--font-size-header-item) / 3);
	border: solid 1px color-mix(in srgb, var(--default-text-colour), transparent 50%);
	box-shadow: none;

	position:fixed;
	z-index: 13;

	transition: box-shadow 0.2s linear,
				border 0.2s linear;
}

.website_header:hover {
	box-shadow: 0 0 0 1px color-mix(in srgb, var(--default-text-colour), transparent 50%);
	border: solid 1px rgba(0, 0, 0, 0) /* Transparent*/
}

.website_header_background {
	padding: calc(var(--header-rounding) - var(--header-item-rounding));
	border-radius: var(--header-rounding);
	min-width: calc(100vw - 2*var(--main-rounding) - 2*var(--outer-spacing) - 2px - 10px);
	height: calc(1cqh + var(--header-rounding) - var(--header-item-rounding));
	background-image: url("geometric_dark.jpg");
	background-size:cover;
	/*display: block;*/
	display:flex;


	position:fixed;
	z-index: 12;

	opacity: 30%;
	transition:	opacity var(--short-transition-time) linear;
}

header:hover .website_header_background {
	opacity: 60%;
}

.website_header_blur {
	backdrop-filter: blur(0px);
	height: calc(1cqh + var(--outer-spacing) + var(--main-rounding) + 2*var(--header-rounding));

	/*border-radius: var(--header-rounding);*/
	min-width: 200vw;
	border-bottom: 1px solid color-mix(var(--highlight-text-colour), transparent 50%);
	font-size: 1000px;
	position: fixed;
	left:-1vw;
	top:0;
	z-index: 11;

	transition: border-bottom-color var(--short-transition-time) linear,
				backdrop-filter var(--short-transition-time) linear,
				box-shadow var(--short-transition-time) linear;
}

header:hover .website_header_blur {
	border-bottom-color: var(--highlight-text-colour);
	backdrop-filter: blur(0px);
	box-shadow: 0 0 20vh 20vh color-mix(var(--background-colour) calc(var(--background-colour-a) * 0.5), black 0%);
}

.website_header_item {
	white-space: nowrap;
	padding: var(--header-subitem-rounding);
	background-color: none;
    color:white;
	font-size: var(--font-size-header-item);
	
	border-radius: var(--header-item-rounding);
	height: fit-content;
	max-width: 16vw;

	display:inline-block;
	overflow:hidden;

	transition: background-color var(--short-transition-time),
	            max-width var(--short-transition-time);
}

.website_header_item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.website_header_item_main {
	max-width: 28vw;
}

.website_header_separator { 
	border: 1px solid var(--default-text-colour);
	height: calc(1cqh + var(--default-rounding));
	margin: calc(var(--default-rounding) / 2);
}

.website_header_spacer {
	height: calc(1cqh + var(--default-rounding));
	margin: calc(var(--default-rounding) / 2);
}

.website_header_blankspace {
    width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.website_header_item_selected {
	border: 1px dashed color-mix(var(--default-text-colour) var(--mini-background-colour-a), black 0%);
	background-color: color-mix(var(--highlight-text-colour) calc(var(--mini-background-colour-a)/2), black 0%);
}

.logo {
	width: calc(1cqh + var(--default-rounding));
	height: calc(1cqh + var(--default-rounding));
}

.logo_container {
	display: block;
	justify-content: center;

	border-radius: calc(var(--default-rounding) * 0.5);

	height: calc(1cqh + var(--default-rounding));
	width: calc(1cqh + var(--default-rounding));

	overflow:hidden;

	font-size: 0;

	box-shadow: 0px 0px 0px calc(var(--drop-shadow-distance)/2) rgb(255, 255, 255, 0.2);

	transition: box-shadow var(--short-transition-time) linear,
				opacity var(--short-transition-time) linear;
}

.logo_container:hover {
	box-shadow: 0px 0px 0px calc(var(--drop-shadow-distance)/2) color-mix(in srgb, var(--highlight-text-colour), transparent 50%);
	opacity: 50%;
}

.hover_link {
	text-decoration: none;
	color: var(--top-link-colour);
	display:block;
	transition: var(--short-transition-time);
	padding-left: var(--header-subitem-rounding);
	padding-right: var(--header-subitem-rounding);
}

.hover_link:hover {
	color: var(--top-link-hover-colour);
	padding-left: var(--header-item-rounding);
	padding-right: var(--header-item-rounding);
}

.hover_link:active {
	padding-top: var(--header-subitem-rounding);
}

.main_link {
	color: var(--highlight-text-colour);
}


.dropdown {
	text-decoration: none;
	color: var(--top-dropdown-colour);
	display: inline-block;
	overflow: visible;
	transition: var(--short-transition-time);
}

.dropdown:hover {
	color: var(--top-link-hover-colour);
	padding-left: calc(var(--header-subitem-rounding) * 2);
	padding-right: calc(var(--header-subitem-rounding) * 2);
}

.website_header_separator {
	anchor-name: --header-separator-anchor;
}

.dropdown .dropdown_content {
	display: none;
	position: absolute;
	overflow: hidden;

	background-color: var(--dropdown-content-bg-colour);
	padding: 0;
	z-index: 1;
	border-radius: var(--header-item-rounding);
	
	position-anchor: --header-separator-anchor;
	left: anchor(right);
	top: calc(anchor(bottom) + var(--header-subitem-rounding) + var(--click-radius));
	right: 0px;

	transition: background-color var(--short-transition-time) linear;
}

.dropdown_spacer {
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	line-height: 0;
}

.dropdown:hover .dropdown_spacer {
	height: calc(2*var(--header-item-rounding) + var(--click-radius));
	position-anchor: --header-separator-anchor;
	top: anchor(bottom);
	left: anchor(right);
	right: 0px;
}

.dropdown:hover .dropdown_content {
	display: flex;
	justify-content: space-around;

	overflow: visible;

	opacity: 100%;
	backdrop-filter: blur(2px);
	animation: var(--quick-transition-time) linear drop-down-expand-animation forwards;
}



.dropdown_content:hover {
	background-color: var(--dropdown-content-bg-hover-colour);
}


.dropdown_content .hover_link {
	display: inline-block;
	
	border-radius: var(--header-subitem-rounding);
	padding: var(--header-item-rounding);
	margin: var(--header-item-rounding) var(--header-subitem-rounding);
	

	border: 1px dashed color-mix(var(--default-text-colour), transparent 80%);

	width: 50%;
	transition: border var(--short-transition-time) linear,
	            background-color var(--short-transition-time) linear,
				padding-left var(--short-transition-time) linear,
				padding-right var(--short-transition-time) linear,
				width var(--short-transition-time) linear;
}

.dropdown_content .hover_link:nth-child(1) {
	anchor-name: --dropdown-link-anchor;
}

.dropdown_content .hover_link:hover {
	background-color: var(--dropdown-content-bg-hover-colour);
	border: 1px solid color-mix(var(--default-text-colour), transparent 60%);

	width: 51%;
}

.dropdown_content::after {
	position-anchor: --dropdown-link-anchor;
	top: anchor(bottom);
	left: anchor(left);
	/* background-color: white; */
	height: var(--pointer-error);
	width: 100%;
	position: absolute;
	content: "";
	display: block;
}

.image_filter {
	filter: none;
	transition: filter var(--long-transition-time);
}

.photo_gallery {
	padding: 0;
	height: fit-content;
	line-height:0;
	overflow: hidden;
}

.photo_gallery:hover {
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px color-mix(var(--highlight-text-colour), transparent 80%);
}

.photo_gallery_slow:hover {
	box-shadow: var(--drop-shadow-distance) var(--drop-shadow-distance) 0px 0px color-mix(var(--default-text-colour), transparent 80%);
}

.photo_gallery .img_container {
	overflow: hidden;
	position: relative;
}

.photo_gallery .text_container {
	overflow:hidden;/* overflow:hidden; */
	line-height: normal;
}


.img_container img {
	box-shadow: none !important;
}

.img_container img:nth-child(2) {
	position: absolute;
	margin-left: -100%;
	z-index: -1;
}

.img_container img:nth-last-child(2) {
	transition: opacity var(--short-transition-time);
}

.img_container img:nth-last-child(2):hover {
	opacity: 0%;
}

.photo_gallery .img_container:nth-child(1) {
	animation: 12s linear -12s infinite forwards image-expand-shrink-first-animation;
	height: auto;
}

.photo_gallery .img_container:nth-child(2) {
	animation: 12s linear -9s infinite forwards image-expand-shrink-animation;
	height: 0;
}

.photo_gallery .img_container:nth-child(3) {
	animation: 12s linear -5s infinite forwards image-expand-shrink-animation;
	height: 0;
}



.photo_gallery_slow .img_container:nth-child(1) {
	animation: 24s linear -24s infinite forwards image-expand-shrink-first-animation;
	height: auto;
}

/* .photo_gallery_slow .text_container:nth-child(1) {
	animation: 24s linear -24s infinite forwards image-expand-shrink-first-animation,
			   24s linear -24s infinite forwards text-expand-shrink-first-animation;
	height: auto;
} */

.photo_gallery_slow .img_container:nth-child(2) {
	animation: 24s linear -18s infinite forwards image-expand-shrink-animation;
	height: 0;
}

/* .photo_gallery_slow .text_container:nth-child(2) {
	animation: 24s linear -18s infinite forwards image-expand-shrink-animation,
			   24s linear -18s infinite forwards text-expand-shrink-animation;
	height: 0;
} */

.photo_gallery_slow .img_container:nth-child(3) {
	animation: 24s linear -10s infinite forwards image-expand-shrink-animation;
	height: 0;
}

/* .photo_gallery_slow .text_container:nth-child(3) {
	animation: 24s linear -10s infinite forwards image-expand-shrink-animation,
			   24s linear -10s infinite forwards text-expand-shrink-animation;
	height: 0;
} */





@media (prefers-color-scheme: light) {

    .website_header_background {
		background-image: url("geometric_light.jpg");
	}

	.image_filter {
		filter: hue-rotate(0.9turn) brightness(2.5) grayscale(0.3);
	}

	.typing_animation_box:hover {
		background-image: url("geometric_light.jpg");
	}

}